body {
  --twitter-color: #506ef5;
  --twitter-background: #011a8a;

}

.app-container {
  display: grid;
  grid-template-columns: 220px 1fr /* Adjust the width of the sidebar and rightbar */
}



.rightbar {
  margin-top: -20px; /* Adjust as needed */
}
